<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="p-2 rounded my-2 bg-light shadow-sm border text-secondary">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid" src="/uploads/<%= image.image %>" alt="">
                    </div>
                    <div class="col-lg-6">
                        <form action="/image/update/<%= image.id %>" method="post" enctype="multipart/form-data">
                            <input name="title" type="text" class="form-control mb-2" placeholder="Image Title" value="<%= image.title %> ">
                            <textarea name="desc" class="form-control mb-2" cols="30" rows="10" placeholder="Image Description"><%= image.desc %></textarea>
                            <input type="file" name="image">
                            <div class="d-flex justify-content-end mt-2">
                                <a href="/image/<%= image.id %>" class="btn btn-primary fw-bold mr-2"><i class="fas fa-arrow-circle-left"></i> Geri</a>
                                <button class="btn btn-success fw-bold"><i class="fas fa-sync-alt"></i> Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>