<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('./partials/_preHeader.ejs') %> 
</head>
<body>
    <%- include('./partials/_header.ejs')  %>
    <%- body %> 
    <%- include('./partials/_footer.ejs')  %>
    <%- include('./partials/_scripts.ejs')  %>  
</body>
</html>